/* Set width to 0 and override existing widths */
.w-0 {
    width: 0 !important;
}

/* Set nav width and transition timing function for toggle */
nav {
    width: 33.3%;
    transition: width .25s;
}

/* Set font-size and left position for toggler icon */
i {
    font-size: 2rem;
    left: 10px;
}

/* Set height for inner nav link */
.nav-link {
    height: 100px;
}

/* Set nav link active and hover colors */
.nav-link:hover,
.nav-active {
    background-color: var(--bs-white);
    color: var(--bs-dark) !important
}

/* Set cursor icon for toggler icon and nav links */
i:hover,
.nav-link:hover {
    cursor: pointer;
}

/* Set color for clicked nav links */
.nav-link:visited {
    color: var(--bs-text-white);
}

/* Set spinner position and size */
.spinner-border {
    margin-top: 50vh;
    margin-left: 50%;
    width: 3rem;
    height: 3rem;
}

/* Set repo container size */
#repo {
    height: 90vh;
    margin: 40px 0 0 20px;
}

/* Medium device breakpoint */
@media (min-width: 768px){
    nav {
        width: 22.5%;
    }
}

/* Large device breakpoint */
@media (min-width: 992px){
    nav {
        width: 17.5%;
    }
}

/* Extra large device breakpoint */
@media (min-width: 1200px){
    nav {
        width: 12.5%;
    }
}