* {
  margin: 0;
  padding: 0;
}
html {
  scroll-padding-top: 10px;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  background-color: darkgray;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  transition: 100ms linear;
}
img:hover {
  transform: scale(1.2);
}
.rounded {
  border-radius: 50%;
}
nav,
main,
#nav-links a {
  transition: all 400ms;
}
#burger {
  display: block;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 50px;
  color: white;
}
nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  width: 180px;
  height: 100%;
  background-color: darkred;
  box-shadow: 5px 0px 10px black;
  color: white;
}
.nav-active {
  left: 0;
}
#nav-name {
  display: none;
}
#nav-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 100px 0px 0px 0px;
}
#nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bolder;
}
#nav-links a:hover {
  color: darkred;
  background-color: white;
  width: 120%;
  box-shadow: 2.5px 0px 7.5px black;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: darkred;
}
.main-active {
  margin-left: 180px;
}
#main-name {
  font-family: 'The Nautigal', cursive;
  font-size: 75px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px 100px 0px;
}
.section-header {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -6px;
  font-size: 80px;
  font-weight: bold;
  margin: 0px 0px 40px 0px;
  color: white;
}
.section-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#about-section {
  margin: 50px 0px 50px 0px;
}
#headshot {
  width: 300px;
  box-shadow: 0px 0px 20px black;
  animation: fadeIn 1s ease-in-out;
  transform: none;
  transition: none;
}
#about {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  animation: fadeIn 1.5s ease-in-out;
}
#about span {
  font-family: 'The Nautigal', cursive;
  font-size: 50px;
  animation: fadeIn 3s ease-in-out;
  color: white;
}
.project-img,
.credential-img {
  width: 250px;
}
#resume {
  display: none;
}
#resume-icon {
  display: block;
  color: black;
}
.contact-header {
  font-weight: bold;
  font-size: 40px;
}
.contact-header a {
  text-decoration: underline;
}
#email-area {
  padding: 10px;
  width: 375px;
  border: 1px solid white;
}
#email-form {
  text-align: center;
}
#email-form label {
  font-size: 25px;
}
.red-border {
  border: 2px solid red;
}
#email-form input,
#email-form textarea,
#email-form button {
  width: 100%;
}
#email-form textarea {
  height: 350px;
  margin: 0 0 10px 0;
}
#email-form button {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: darkred;
  border: none;
}
#email-form button:hover {
  cursor: pointer;
  background-color: darkred;
  color: white;
}
#thank-you {
  margin: 20px 0px 20px 0px;
}
@media only screen and (min-width: 992px) {
  html {
    scroll-padding-top: 15%;
  }
  body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: darkred;
    box-shadow: 5px 0px 10px black;
    color: white;

  }
  #burger {
    display: none;
  }
  #nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  #nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    font-weight: bolder;
  }
  #nav-links a:hover {
    color: darkred;
    background-color:white;
    box-shadow:0px 2px 5px black;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: darkred;
  }
  .main-active {
    margin-left: 0;
  }
  #main-name {
    margin: 125px 0px 100px 0px;
    color: black;
  }
  section {
    margin: 300px 0px 300px 0px;
  }
  .section-items:not(#contact-items) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  #resume {
    display: block;
    text-align: center;
    width: 750px;
    height: 800px;
  }
  #resume-icon {
    display: none;
  }
  #email-area {
    width: 1000px;
  }
}
@media only screen and (min-width: 1200px) {
  #nav-name {
    display: inline-block;
    width: 50%;
    font-family: 'The Nautigal', cursive;
    font-size: 70px;
  }
  #main-name {
    display: none;
  }
  #about-section {
    margin: 200px 0px 0px 0px;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateX(-300px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}