body {
  color: darkslategrey;
  background-color: var(--bs-gray-300);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 250px;
  max-width: 100%;
  height: auto;
  transition: 100ms linear;
}

img:hover {
  transform: scale(1.2);
}

.rounded {
  border-radius: 50%;
}

.navbar {
  padding: 0;
  text-align: center;
  background-color: darkslategrey !important;
  box-shadow: 5px 0 10px var(--bs-black);
  --bs-navbar-toggler-border-color: var(--bs-white);
}

.navbar-brand{
  color: var(--bs-white);
  transition: 100ms linear;
}

.navbar-brand:hover{
  color: var(--bs-white);
  transform: scale(1.1);
}

.navbar-brand:visited{
  color: var(--bs-white);
}

.dw {
  font-family: 'The Nautigal', cursive;
  font-size: 30px;
}

.navbar-brand span:not(.dw){
  display: none;
}

.navbar-brand,
.nav-item {
  cursor: pointer;
}

.nav-link{
  color: var(--bs-white);
}

.nav-link:hover {
  background-color: var(--bs-white);
  color: darkslategrey;
  box-shadow: 0 0 10px var(--bs-black);
}

.navbar-toggler {
  color: var(--bs-white) !important
}

.carousel-control-prev,
.carousel-control-next {
    position: fixed;
}

main {
  transition: all 400ms;
  height: 110vh;
}

#pages {
  height: 100%;
}

.carousel-item:not(about-page) {
  padding-top: 50px;
  height: 100%;
  overflow: scroll;
}

.carousel-inner {
  text-align: center;
  height: 100%;
}

.display-1 {
  font-family: 'The Nautigal', cursive;
}

#projects > .display-1{
  margin-top: 50%;
}

#credential-links {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.nav-tabs {
  background-color: darkslategrey;
}

.tab-content {
  background-color: var(--bs-white);
  border: 1px solid;
}

.project-img {
  margin: 10px 0 10px 0;
  width: 75%;
  height: auto;
}

#resume {
  width: 100%;
  height: 800px;
}

#fs-web {
  height: 300px;
  width: 300px;
}

@media (min-width: 992px) {
  .navbar-brand span:not(.dw){
    display: initial;
  }

  .nav-link{
    padding: 15px 0 0 0;
    margin: 0 0 15px 0;
    height: 115%;
  }

  .carousel-item {
    padding-top: initial;
    height: initial;
    overflow: initial;
  }

  #projects {
    margin-top: 5%
  }

  #projects > .display-1{
    margin-top: initial;
  }

  #credential-links {
    flex-flow: row wrap;
  }

  #resume-page {
    padding-top: 75px;
  }

  #resume {
    height: 700px;
    width: 65%;
  }

  #fs-web {
    height: 600px;
    width: 900px;
  }
}